<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>scrollImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D2615FE1CE86A7A0003329F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D2616171CE86A7B0003329F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D2616221CE86A7B0003329F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
